<%= render 'shared/evolutive-top-bar' %>
<div class="main-container centered-vertically with-top-margin with-bottom-margin">

  <div class="container bg-light mt-4">
    <div class="row p-4">
      <div class="col col-12">

        <h1>List des teams</h1>
        <p>Ordonnées pas Rank</p>

        <%= link_to "Back", root_path, class: "btn btn-secondary" %>

        <% @teams.each do |team| %>
          <p>------------------------</p>
          <h3><%= team.name %></h3>
          <p>Leval :</p>
          <p>Rank :</p>
          <p>Score :</p>
        <% end %>

      </div>
    </div>
  </div>
</div>


