<div id="gallery-modal-background"></div>
<div id="gallery-modal">
  <div id="gallery-modal-carousel">
    <div id="gallery-modal-close"><i class="fas fa-chevron-left"></i></div>
    <%= image_tag @medium_placeholder %>
  </div>
  <div id="gallery-modal-description"></div>
</div>
