<div class="public-team-choice-container">
    <% if @initial_perimeter == "public" %>
      <div class="public-team-choice active">PUBLIC</div>
      <div class="public-team-choice">TEAM</div>
    <% else %>
      <div class="public-team-choice">PUBLIC</div>
      <div class="public-team-choice active">TEAM</div>
    <% end %>
</div>

