<p class="secondary-color-title">ROULETTE RESULT:</p>
<div class="roulette">

  <% if @roulette_type == "teams" %>
    <p>The random team is : <%= link_to @roulette_result.name, team_path(@roulette_result)  %></p>

  <% else %>
    <p>The random player is : <%= link_to @roulette_result.get_full_name, user_path(@roulette_result)  %></p>

  <% end %>

</div>

