<p class="secondary-color-title">ROULETTE RESULT:</p>
<% if @roulette_type == "teams" %>
  <p>The random team is : <%= Team.find(@roulette_result).name %></p>
<% else %>
  <p>The random player is : <%= User.find(@roulette_result).get_full_name %></p>
<% end %>
<p>La roulette a été lancée par ...</p>
