<div id="validation-modal-background">
  <div id="validation-modal-close"><i class="fas fa-chevron-left"></i></div>
</div>
<div id="validation-modal">

    <div id="validation-modal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <%#= image_tag @medium_placeholder %>
  </div>
  <div id="validation-modal-description"></div>
</div>

