<%= render 'shared/navbar' %>

<!-- <div id="particles-container" style="height: 100vh; width: 100vw;"></div> -->

<div id="banner">
  <h1 id="slogan">REACH THE <span class="secondary-color">NEXT LEVEL</span><br>OF<br><span class="primary-color">TEAM SPIRIT</span></h1>
  <div class="main-button">PLAY</div>
</div>

<section>
  <h2>VOUS</h2>
  <p>Vous êtes une entreprise de plus de 100 employés qui cherche à améliorer la MOTIVATION, la COHÉSION, la COLLABORATION et le BIEN-ÊTRE  de vos équipes.</p>
  <p>Vous êtes convaincus que votre succès dépend de votre capacité à agir sur ces éléments ainsi que d’ attirer et retenir des « talents ».</p>
  <p>La taille de votre entreprise ou votre forte croissance rendent ces tâches difficiles et vous aimeriez trouver des solutions sans agir sur les dimensions « salaires » ou « promotions ».</p>
  <p>Vous avez peut-être déjà :</p>
  <ul>
    <li>Entrepris des actions pour améliorer l' environnement de travail</li>
    <li>Investi dans des événements de type « Team Building »</li>
    <li>Cherché à développer une culture et une identité d' entreprise</li>
  </ul>
  <p>Vous avez du mal à estimer le retour sur investissement durable et concret de ces actions et vous vous sentez peut-être un peu dépassés.</p>
  <p>Nous avons créé une solution spécifiquement pensée pour les entreprises comme vous.</p>
  <div class="main-button">PLAY</div>
</section>

<section>
  <h2>NOUS</h2>

  <p>Entre 2004 et 2011 le Wall Street journal estime que les joueurs de WoW (World of Warcraft) ont collectivement passé près de <span class="secondary-color">6 millions d’années</span> à résoudre les problèmes du monde fictif d’Azeroth!</p>
  <p>Qu’est ce qui motive ces joueurs à dépenser cette énergie dans ce jeu? Est-il possible de rediriger cette énergie pour résoudre des problématiques du monde réel?</p>
  <p>La « gamification » ou « ludification », est l’utilisation, l’adaptation des mécanismes du jeu pour des actions ou applications qui ne sont pas à l'origine des jeux.</p>
  <h3 id="our-mission">La mission des FeelGoodFellows est de devenir maîtres dans l’art de la gamification, pour résoudre des problématiques sérieuses… en s’amusant!</h3>
  <div class="main-button">PLAY</div>
</section>


<section>
  <h2>LE PLAN DE JEU</h2>
  <p>Nous proposons un programme “Plug & Play” de 3 mois sous forme de jeu pour améliorer la motivation, la cohésion et la collaboration de vos équipes.</p>
  <div class="key-elements">
    <div class="key-element">
      <h5>UN PROGRAMME</h5>
      <ul>
        <li>Pas un teambuilding lambda : un programme de 3 mois</li>
        <li>Une vision à long-terme post-programme</li>
        <li>Un véritable avant/après visible et mesurable</li>
        <li>Des résultats réellements durables</li>
      </ul>
    </div>
    <div class="key-element">
      <h5>PLUG & PLAY</h5>
      <ul>
        <li>Nous vous guidons de A à Z.</li>
        <li>Nous avons une méthode, fournissons support & reporting</li>
        <li>Nous vous donnons accès à notre base de donnée avec des centaines d’actions concrètes à implémenter</li>
        <li>Une plateforme accessible via ordinateurs et téléphones</li>
      </ul>
    </div>
    <div class="key-element">
      <h5>UN JEU</h5>
      <ul>
        <li>Les équipes vont réellement prendre du plaisir pendant les 3 mois</li>
        <li>Les mécanismes de la “gamification” permettront d’ atteindre des résultats a priori hors de portée</li>
        <li>Win - Win : Vous allez devenir plus performants en vous amusant</li>
      </ul>
    </div>
  </div>
  <div class="main-button">PLAY</div>
</section>

<section>
  <h2>PLUS DE DÉTAILS</h2>
  <p>Nous proposons de vous donner les outils et de vous guider pas à pas dans une expérience unique pendant laquelle vos équipes prendront du plaisir à améliorer elles-mêmes leur environnement de travail. </p>
  <p>Sous forme de jeu collaboratif, notre solution adaptable à grande échelle (oui, même pour des entreprises de plusieurs milliers d’employés!) et customisable à vos enjeux spécifiques, vous permettra de prendre le contrôle sur le bien-être de vos équipes!</p>
  <p>Au delà du simple plaisir de jouer, le jeu servira à :</p>
  <ul>
    <li>Implémenter des centaines d’ actions concrètes pendant la durée du jeu</li>
    <li>Éveiller les équipes à se responsabiliser pour agir elles-mêmes sur leur environnement de travail</li>
    <li>Leur donner des outils et idées pour agir sur leur environnement de travail</li>
    <li>Donner à chacun un sentiment d’ appartenance à un groupe</li>
    <li>Donner à chacun la possibilité d’ exprimer leur personnalité dans ce groupe</li>
    <li>Valoriser la cohésion, la collaboration et le partage</li>
    <li>Développer une culture d' entreprise unique tout en renforçant votre identité de marque</li>
    <li>Booster le moral des équipes </li>
    <li>Vous donner une visibilité précise du bien-être de vos équipes</li>
    <li>Vous donner des leviers pour agir sur le bien-être de vos équipes</li>
    <li>Construire des ponts de communication efficaces entre le management et les équipes opérationnelles</li>
  </ul>
  <p>Pendant et à la fin du jeu, nous vous fournirons des données concrètes sur l’impact du programme.</p>
  <p>À la fin du jeu, nous vous proposerons des solutions simples pour capitaliser sur l’ expérience vécue et en tirer un maximum de bénéfices sur le long-terme.</p>
  <div class="main-button">PLAY</div>
</section>
