<div class="game" style="width: 100vw; height: 100vh; position: relative;">
  <div id="redSquareInfo" style="position: absolute; top: 0; left: 0; z-index: 2; background-color: white; padding: 10px; border-radius: 4px;">
    <p>Red Square Position :</p>
    <p>(x , y) => (0, 0)</p>
  </div>
  <canvas id="my-canvas-tests" style="width: 100vw; height: 100vh; border: 1px solid red;"></canvas>
</div>




