#banner{
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 255, 0.4)), url(image_path("fire_camp_stars.png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .call-to-action{
    // position:
    margin-top: 2em;
  }

  #slogan{
    margin-top: 10vh;
    text-align: center;
    font-family: $special-font;

  }

  .secondary-color{
    background-color: $secondary-color;
    color: white;

  }
  .primary-color{
    background-color: $menu-items-color;
    color: white;
  }
}

@media (max-width: 800px){



}

@media (min-width: 800px){

  #banner{
    #slogan{
      font-size: 3em;
      h1{
        line-height: 2.5em;
      }

    }
  }

  .secondary-color, .primary-color{
    font-size: 2em;
    padding: 2px 5px;
    line-height: 2em;
  }

}
