.main-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $menu-items-color;
  border: 1px solid $menu-items-color;
  padding: 20px;
  max-width: 500px;
  font-weight: lighter;
  // background-color: $menu-items-color;
  // border-radius: 4px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // font-size: 0.8em;
  // text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-decoration: none;
  transition: transform 0.5s;


  &:hover{
    transform: scale(0.9);
    background-color: rgba(255,255,255, 0.3);
    color: $menu-items-color;
    text-decoration: none;
  }

}
