#gallery{

  width: 90%;
  display: flex;
  justify-content: space-between;

  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto;
  // grid-column-gap: 5px;
  // grid-row-gap: 10px;

  .gallery-column{
    display: flex;
    flex-direction: column;
    width: 48%;


    // margin: 0 5%;

    .gallery-item{
      border-radius: 10px;
      width: 100%;
      transition: transform 0.5s;
      background-color: rgba(0,0,0, 0.5);
      margin-bottom: 10px;

      .gallery-item-medium{
        border-radius: 10px 10px 0 0;
        width: 100%;
        img{
          border-radius: 10px 10px 0 0;
          width: 100%;
        }
      }

      .gallery-item-description{
        color: white;
        font-size: 0.7em;
        padding: 8px;
      }

      &:hover{
        cursor: pointer;
        transform: scale(0.95);
      }
    }
  }


}
