#gallery-modal-background{
  display: none;

  &.active{
    display: block;
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
  }

}

#gallery-modal{
  display: none;

  &.active{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    // min-height: 100vh;
    width: 100%;
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;


    #gallery-modal-carousel{
      position: relative;
      width: 100%;

      img{
        width: 100%;
        border-radius: 20px 20px 0 0;
      }

      #gallery-modal-close{
        color: white;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }

    #gallery-modal-description{
      height: 10vh; // A enlever
      border-radius: 0 0 20px 20px;
      background-color: rgb(50,50,50);
      padding: 20px;
      overflow-wrap: break-word;
      color: white;
    }

  }

}
