.public-team-choice-container{
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;

  .public-team-choice{

    width: 40%;
    color: white;
    background-color: $gray;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // transition: all 0.5s;

    &:hover{
      background-color: $secondary-color;
      // transform: scale(1.1);
      cursor: pointer;
    }

    &.active{
      background-color: $secondary-color;
      // transform: scale(1.1);
      &:hover{
        cursor: auto;
        // transform: scale(1.1);
      }
    }
  }
}

.public-team-choice-selected{
  width: 100%;
  color: $menu-items-color;
  display: flex;
  justify-content: center;
  align-items: center;

}


