.quest-progression-container{
  width: 100%;
  margin-bottom: 15vh;
  padding: 0 20px;

  .title{
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 2em;
  }

  .quest-progression{
    font-size: 0.8em;
    margin-bottom: 2em;
    color: white;
    background-color: $background-color-lighter;
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .secondary-color-title{
      color: $secondary-color;
      font-size: 1.3em;
    }


    .quest-status{

      display: flex;
      align-items: center;
      margin-bottom: 20px;

      p{margin: 0;}

      .quest-status-circle{

        height: 30px;
        width: 30px;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        margin-right: 20px;
        &.open{background-color: $background-color;}
        &.draft{background-color: $background-color;}
        &.pending{background-color: #F9A500;}
        &.completed{background-color: #6FC240; }
        &.rejected{background-color: #ED2B37; }
      }
    }

    #medium_attached_file, #upload-medium{
      display: none;
    }



    #media-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;



      .media-grid-item{
        position: relative;
        width: 100%;
        height: 150px;
        border-radius: 4px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $background-color;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);

        .remove-medium{
          position: absolute;
          top: -10px;
          right: -10px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);
          background-color: #ED2B37;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2em;

        }
      }

      #add-medium-to-tql{
        border: 2px dashed white;
        width: 100%;
        height: 150px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        transition: transform 0.5s;

        p{margin: 0;}

        #upload-spinner{
          display: none;
        }

        &:hover{
          transform: scale(0.9);
        }
      }
    }


    .votes-results{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);

      .yes{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6FC240;
        border-radius: 4px;
      }

      .total{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $menu-items-color;
        text-align: center;
      }

      .no{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ED2B37;
        border-radius: 4px;
      }
    }
  }


}








