.tchat-action-bar{
  z-index: 10;
  position: fixed;
  height: 10vh;
  bottom: 0;
  width: 100%;
  background-color: $background-color-lighter;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  padding: 15px;


  #tchat-action-bar-btn-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 5vh;
    width: 5vh;
    border: 1px solid white;
    border-radius: 50%;

  }

  #new_message{
    height: 100%;
    display: flex;
    justify-content: space-around;

    .message_value{
      margin: 0;
      width: 70%;

      #message_value{
        border: none;
        background-color: $background-color;
        color: white;
      }
    }

    #tchat-action-bar-btn-send{
      height: 100%;
      width: 20%;
      background-color: transparent;
      color: $menu-items-color;
      border-radius: 4px;
      border: 1px solid $menu-items-color;
    }

  }




}

