// Prendre tous les titres au fur et à mesure et les mettre ici


.big-title-special-font{
  text-align: center;
  margin: 1em;
  font-family: $special-font;
  align-self: center;
  font-size: 3em;
  color: white;
}
