#user-container{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;

  #user-picture{
    width: 30vh;
    height: 30vh;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  #user-info{
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
      color: white;
      font-size: 0.8em;
      span{
        font-family: $special-font;
        color: $secondary-color;
        font-size: 1.5em;
        border-radius: 4px;

      }
    }

    a{
      background-color: $background-color-lighter;
      padding: 10px 20px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      width: 80%;
      max-width: 500px;

      p{
        margin: 0;
        text-align: center;
      }
    }

    #user-roles{

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;


      .role-container{
        display: flex;
        padding: 20px;

        span{
          color: $menu-items-color;
        }
      }

    }

  }
}
